/* EFECTOS DE MAIN-NAV */
/* .main-nav{
    margin-top: 30px;
    margin-bottom: 0;
    list-style: none;
    padding-left: 20px;
    background-color: #13a4a4;
}


.main-nav__item{
    display: inline-block;
    margin: 30px;
}
.main-nav__item a{
    color: white;
    font-size: 20px;
    padding: 10px;
    border-color: dimgray;
    border-style: dashed;
    border-width: 1px;
    border-radius: 9px;
    text-decoration: none;
}

.main-nav__item a:hover{
    background-color: white;
    color: #13a4a4;
    border-style: none;
}
.main-nav__item a:active{
    background-color: white;
    color:#13a4a4;
    font-weight: bold;
}
.main-nav__item a::after{
    content: "  |";
} */
/* BORDER BOX */
/* 
main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #13a4a4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-title{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    color: white;
}
.header-nav {
    list-style-type: none;
    font-size: 1.6rem;
    margin-left: 2rem;
    padding: 2rem 0 2rem 0;
}
.header-nav li{
    display: inline-block;
    padding: 0 0.5rem;
}
.header-nav a{
    color: white;
    background-color: #119a9a;
    padding: 1rem;
    border-radius: 0.3rem;
    text-decoration: none;
}
.header-nav a:hover{
    background-color: white;
    color: #13a4a4;
}
.box1{
    font-size: 2.5rem;
    background-color: #9A7247;
    width: 20rem;
    text-align: center;
    margin: auto;
    border-radius: 0.7rem;
    padding: 0.4rem;
    position: relative;
    top: 2rem;
}
.box1:hover{
    background-color: white;
    color: #9A7247;
    box-shadow: 0 0 2.5rem white;
}

.box2{
    font-size: 2rem;
    background-color: white;
    border-radius: 0.7rem;
    padding: 3rem 20rem;
    margin: auto;
    text-align: center;
    width: 60rem;
    box-shadow: 0 0 2.5rem #9A7247;
}
.box2 img{
    width: 10em;
    height: 10em;
}
.box2 p{
    font-size: 1.4rem;
}
