*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    align-items: center;
    height: 20vh;
    min-height: 20vh;
}
.header-box1{
    flex-grow: 1;
    flex-basis: 10rem;
}
.header-box2{
    flex-grow: 3;
    flex-basis: 10rem;
}
figure{
    display: flex;
    margin-left: 2rem;
}
.header-log img{
    width: 6rem;
    height: 7rem;
}
.header-nav{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.header-nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30rem;
    align-items: center;
    list-style: none;
    font-size: 1.6rem;
    justify-content: center;
}
.header-nav li{
    display: flex;
    flex-basis: 15rem;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.header-nav a{
    text-decoration: none;
    color: #cb2228;
    padding: 0.5rem;
    border-radius: 0.7rem;
}
.header-nav a:hover{
    background-color: #cb2228;
    color: white;
}

main{
    display: flex;
    height: 75vh;
    min-height: 75vh;
    flex-wrap: wrap;
    background-color: black;
}
.sidebar{
    display: flex;
    flex-grow: 1;
    flex-basis: 40rem;
    align-items: center;
    justify-content: center;
}
.artista img{
    width: 15rem;
    height: 15rem;
    box-shadow: 0 0 3rem  #cb2228;
}
.content{
    display: flex;
    flex-grow: 2;
    flex-basis: 40rem;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
    font-size: 1.6rem;
    color: white;
}
footer{
    display: flex;
    min-height: 5vh;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 1.4rem;
}