.box2{
    order:1;
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-corona2{
    width: 80%;
}

.box-corona2 img{
    width: 100%;
}
.box{
    width: 37vw;
    order:2;
}
.box-corona{
    display: none;
}
.input{
    font-size: 2rem;
}

.input input{
    font-size: 2rem;
}
.input a{
    width: 7rem;
    height: 7rem;
}